@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes sale {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  70% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  90% {
    transform: rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: infinite,
  $direction: normal,
  $fill-mode: none
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-fill-mode: $fill-mode;
}
